.character {
  text-decoration: none;
  background-color: #ffffff;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);

  &:hover {
    transform: scale(1.1);
    transition: transform 0.2s ease-in-out;
  }
}
.character-image {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 240px;
  border-radius: 8px;
  margin-bottom: 24px;

  @media only screen and (min-width: $breakpoint-sm) {
    margin-bottom: 16px;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.character-name {
  font-size: 24px;
  font-weight: 700;
  color: #1d1e22;
  margin-bottom: 4px;

  @media only screen and (min-width: $breakpoint-sm) {
    font-size: 20px;
    margin-bottom: 8px;
  }
}

.character-species {
  font-size: 16px;
  color: #4b4c53;
  margin-bottom: 16px;

  @media only screen and (min-width: $breakpoint-sm) {
    margin-bottom: 12px;
  }
}
.character-text {
  padding: 12px 16px;
}
