// Define font families
$font-family-sans-serif: "Roboto", sans-serif;
// Define font sizes
$font-size-xs: 12px;
$font-size-sm: 14px;
$font-size-md: 16px;
$font-size-lg: 18px;
$font-size-xl: 24px;

// Define font weights
$font-weight-regular: 400;
$font-weight-bold: 700;
